# Ignore virtual environment
.venv/

# Optionally ignore other virtual environment folders
venv/
env/

# Ignore any data files
data/raw*
data/processed/*
data/logs/*
data/indicators/*
data/cache_advanced_features/*
db_management/*
indicators/*
ml_models/*
orchestration/*
transformations/*
visualizations/*

# Ignore any environment-specific files
*.env


# Ignore model checkpoints and large binaries
artifacts/*
!artifacts/README.md # keep a README if you want to describe usage